appdirs
asgiref
astroid
autopep8
bandit
beautifulsoup4
certifi
cffi
chardet
colorama
cryptography
defusedxml
distlib
Django
django-allauth
django-appconf
django-clear-cache
django-crispy-forms
django-dotenv
django-embed-video
django-imagekit
django-livereload-server
django-livesync
django-session-timeout
django-six
django-utils-six
dodgy
filelock
flake8
flake8-polyfill
gitdb
GitPython
idna
isort
lazy-object-proxy
livereload
mccabe
mypy
mypy-extensions
numpy
oauthlib
pandas
pbr
pep8-naming
pilkit
Pillow
prospector
psycopg2
pycodestyle
pycparser
pydocstyle
pyflakes
PyJWT
pylint
pylint-celery
pylint-common
pylint-django
pylint-flask
pylint-plugin-utils
python-dateutil
python3-openid
pytz
PyYAML
requests
requests-oauthlib
requirements-detector
setoptconf
six
smmap
snowballstemmer
soupsieve
sqlparse
stevedore
toml
tornado
typed-ast
typing-extensions
urllib3
virtualenv
watchdog
websocket-client
whitenoise
wrapt
xlwt
