{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 
{% load tags %} 
{% block css %}
    <link href="{% static 'css/select2-4.0.13/select2.min.css' %}" rel="stylesheet" type="text/css" /> 
{% endblock css %} 

{% block inner_header %}
<!-- Section: inner-header -->
<section class="inner-header divider layer-overlay overlay-dark">
    <div style="margin-bottom: 90px;"></div>
    <div class="container pt-30 pb-30">
        <!-- Section Content -->
        <div class="section-content text-center">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="text-theme-colored font-36">
                        {{ inner_title }} {{current_city }}
                    </h2>
                </div>
                <div class="col-md-8  col-md-offset-2 text-center">
                    <form action="{% url 'attorneys_list' %}" class="form-group" method="get">
                        <div class="row search-attorney-row">
                            <input type="text" class="form-control" name="query" id="search-attorney" placeholder="{% trans 'Rechercher un avocat' %}" 
                            value="{% if query %}{{ query }}{% endif %}" />
                            <select name="city" id="select-city" class="form-control" >
                                        <option value="" selected>{% trans 'Choisir une ville' %}</option>
                                        {% for ct in  cities %}
                                            <option value="{{ ct.0 }}" {% if ct.0 == current_city %} selected="true" {% endif %}>{{ ct.1 }}</option>
                                        {% endfor %}    

                                    </select>
                            <button type="submit" class="btn btn-dark btn-search btn-theme-colored btn-flat hvr-grow" style="height: 45px;">{% trans 'Rechercher' %}</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock inner_header %} 
{% block container_main %}
<!-- <div style="margin-bottom: 90px;"></div> -->
<!-- Section: inner-header -->
<section>
    <div class="container">


        <div class="section-content pt-30">
            <div class="row text-center">
                <!-- pagination -->
                {% include 'justice/attorneys_pagination.html' with attorneys=attorneys %}
            </div>
            <div class="row">

                {% for attorney in attorneys %} 
                {% if forloop.counter0|divisibleby:2 %}
                <div class="col-sm-12 col-md-6">
                    <div class="attorney maxwidth400 bg-lighter mb-30">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 xs-text-center pb-sm-20">
                                {% if attorney.profile_image %}
                                <div class="thumb">
                                    <a  href="{% url 'attorney_details' attorney.id %}" >
                                        <img class="img-fullwidth" src="{{ attorney.profile_image.url }}" alt="">
                                    </a>
                                </div>
                                {% else %}
                                <div class="thumb">
                                    <a  href="{% url 'attorney_details' attorney.id %}" >
                                        <img class="img-fullwidth" src="/2020/01/01/default.png" alt="">
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-6 col-md-6 xs-text-center pb-sm-20 pt-20">
                                <div class="content">
                                    <h4> <a class="author text-theme-colored mb-0" href="{% url 'attorney_details' attorney.id %}">{% if attorney.sex|upper == 'H' %} Mr. {% else %} Mme/Mlle  {% endif %}{{ attorney }}</a></h4>
                                    <!-- <h4> <a class="author text-theme-colored mb-0" href="{{attorney.id|stringformat:'s'|encrypt}}" class="">{{ attorney }}</a></h4> -->
                                    <h6 class="title text-dark mt-0">{% trans 'Avocat' %}</h6>
                                    <p class="contact-area mt-20 pr-5"><i class="fa fa-map-marker faa-pulse animated"></i> {% if attorney.address %} {{ attorney.address }} {% endif %} {% if attorney.building %} {{ attorney.building }}, {% endif %} {% if attorney.neighborhood %} {{ attorney.neighborhood
                                        }} {% endif %}</p>
                                    {% if attorney.city %}
                                    <p class="contact-area"><i class="fa fa-home faa-pulse animated-hover"></i>{{ attorney.city }}</p> {% endif %}
                                    <ul class="contact-area mt-10">
                                        {% if attorney.gsm %}
                                        <li class="mb-10"><a href="#"><i class="fa fa-mobile faa-tada animated-hover"></i>{{ attorney.gsm }}</a></li> {% endif %} {% if attorney.tel %}
                                        <li class="mb-10"><a href="#"><i class="fa fa-phone faa-tada animated-hover"></i>{{ attorney.tel }}</a></li> {% endif %} {% if attorney.email %}
                                        <li><a href="#"><i class="fa fa-envelope-o faa-shake animated-hover"></i>{{ attorney.email }}</a></li> {% endif %}
                                    </ul>
                                    <ul class="social-icons icon-dark icon-theme-colored icon-circled icon-sm mt-30">
                                        {% if attorney.facebook %}
                                        <li><a href="{{ attorney.facebook }}" title="{{ attorney.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li> {% endif %} {% if attorney.instagram %}
                                        <li><a href="{{ attorney.instagram }}" title="{{ attorney.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li> {% endif %} {% if attorney.youtube %}
                                        <li><a href="{{ attorney.youtube }}" title="{{ attorney.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li> {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-12 col-md-6">
                    <div class="attorney maxwidth400 bg-lighter mb-30">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 xs-text-center pb-sm-20 pt-20 pl-30">
                                <div class="content">
                                    <h4> <a class="author text-theme-colored mb-0" href="{% url 'attorney_details' attorney.id %}" class="">{% if attorney.sex|upper == 'H' %} Mr. {% else %} Mme/Mlle  {% endif %}{{ attorney }}</a></h4>
                                    <!-- <h4> <a class="author text-theme-colored mb-0" href="{{attorney.id|stringformat:'s'|encrypt}}" class="">{{ attorney }}</a></h4> -->
                                    <h6 class="title text-dark mt-0 mb-10">{% trans 'Avocat' %}</h6>
                                    <p><i class="fa fa-map-marker faa-pulse animated"></i> {% if attorney.address %} {{ attorney.address }} {% endif %} {% if attorney.building %} {{ attorney.building }}, {% endif %} {% if attorney.neighborhood %} {{ attorney.neighborhood
                                        }} {% endif %}</p>
                                    {% if attorney.city %}
                                    <p class="contact-area"><i class="fa fa-home faa-pulse animated-hover"></i>{{ attorney.city }}</p> {% endif %}
                                    <ul class="contact-area mt-10">
                                        {% if attorney.gsm %}
                                        <li class="mb-10"><a href="#"><i class="fa fa-mobile faa-tada animated-hover"></i>{{ attorney.gsm }}</a></li> {% endif %} {% if attorney.tel %}
                                        <li class="mb-10"><a href="#"><i class="fa fa-phone faa-tada animated-hover"></i>{{ attorney.tel }}</a></li> {% endif %} {% if attorney.email %}
                                        <li><a href="#"><i class="fa fa-envelope-o faa-shake animated-hover"></i>{{ attorney.email }}</a></li> {% endif %}
                                    </ul>
                                    <ul class="social-icons icon-dark icon-theme-colored icon-circled icon-sm mt-30">
                                        {% if attorney.facebook %}
                                        <li><a href="{{ attorney.facebook }}" title="{{ attorney.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li> {% endif %} {% if attorney.instagram %}
                                        <li><a href="{{ attorney.instagram }}" title="{{ attorney.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li> {% endif %} {% if attorney.youtube %}
                                        <li><a href="{{ attorney.youtube }}" title="{{ attorney.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li> {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 xs-text-center pb-sm-20">
                                {% if attorney.profile_image %}
                                <div class="thumb xs-text-center sm-text-right"><img class="img-fullwidth" src="{{ attorney.profile_image.url }}" alt=""></div>
                                {% else %}
                                <div class="thumb xs-text-center sm-text-right"><img class="img-fullwidth" src="/2020/01/01/default.png" alt=""></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %} 
                
            {% empty %} 

             {% trans "il n'y a pas d'avocat pour votre recherche" %} 

            {% endfor %}

            </div>
            <div class="row text-center">
                <!-- pagination -->
                {% include 'justice/attorneys_pagination.html' with attorneys=attorneys %}
            </div>
        </div>
    </div>
</section>

{% endblock container_main %} {% block js %}
<script type="text/javascript" src="{% static 'js/select2-4.0.13/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2-4.0.13/select2.full.min.js' %}"></script>

<script>
    $(function(document) {
        // Document is ready

        $("#select-city").select2();

        //alert($("#city").val());
    });
</script>
{% endblock js %}