{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 
{% load crispy_forms_tags %} 
{% block container_main %}
<!-- <div style="margin-bottom: 90px;"></div> -->
<!-- Section: inner-header -->

{% trans 'Qu’est ce que allo-oustad ?' as section01 %}
{% trans "Je souhaite prendre un rendez-vous avec un médecin sur la plateforme ?" as section02 %}
{% trans "Comment savoir si ma demande de rendez-vous a été validée ?" as section03 %}
{% trans "Mon médecin n’est pas sur la plateforme"  as section04 %}
{% trans "Puis-je prendre un rendez-vous pour quelqu’un d’autre ?" as section05 %}
{% trans "Je suis un avocat" as section06 %}
{% trans "J'ai un soucis médical urgent, que faire ?" as section07 %}
{% trans "J’ai rencontré un problème technique sur le site" as section08 %}
{% trans "Je ne trouve pas ma question" as section09 %}
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group scrolltofixed">
            <a href="#section-01" class="list-group-item smooth-scroll-to-target">{{ section01 }}</a>
            <a href="#section-02" class="list-group-item smooth-scroll-to-target">{{ section02 }}</a>
            <a href="#section-03" class="list-group-item smooth-scroll-to-target">{{ section03 }}</a>
            <a href="#section-04" class="list-group-item smooth-scroll-to-target">{{ section04 }}</a>
            <a href="#section-05" class="list-group-item smooth-scroll-to-target">{{ section05 }}</a>
            <a href="#section-06" class="list-group-item smooth-scroll-to-target">{{ section06 }}</a>
            <a href="#section-07" class="list-group-item smooth-scroll-to-target">{{ section07 }}</a>
            <a href="#section-08" class="list-group-item smooth-scroll-to-target">{{ section08 }}</a>
            <a href="#section-09" class="list-group-item smooth-scroll-to-target">{{ section09 }}</a>
          </div>
        </div>
        <div class="col-md-9">
          <div id="section-01" class="mb-50">
            <h3>{{ section01 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Allo-oustad est un site internet vous permettant de trouver des avocats et des praticiens près de chez vous et de prendre rendez-vous avec eux, directement en ligne via la plateforme." %}</p>
            <p>{% trans "Allo-oustad vous permet de centraliser les différents rendez-vous auprès des avocats que vous avez sollicité par le biais de notre annuaire." %}</p>
          </div>
          <div id="section-02" class="mb-50">
            <h3>{{ section02 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Pour prendre un rendez-vous avec un avocat via le site allo-oustad.ma, effectuez la démarche suivante :" %}</p>
            <p>
                <ul>
                    <li><p>{% trans "Rendez-vous sur la page d'accueil allo-oustad.ma ou sur la page de recherche et insérez dans le formulaire le nom ou la spécialité de l’avocat que vous recherchez ainsi que la zone où vous souhaiter effectuer vos recherches (ville,...)" %}</p></li>
                    <li><p>{% trans "Choisir l’avocat dans la liste qui vous est proposée et cliquez sur \"Prendre rendez-vous\" sur la fiche de l’avocat que vous souhaiteriez consulter." %}</p></li>
                    <li><p>{% trans "Remplissez les éléments d'informations pour finaliser votre demande de consultation juridique dans la page suivante et validez. N'oubliez pas, plus vos informations sont précises, plus il sera facile d'obtenir un créneau de consultation." %}</p></li>
                    <li><p>{% trans "Connectez-vous ou inscrivez-vous et rendez-vous dans l'onglet Mon Compte pour suivre l'évolution de votre demande." %}</p></li>
                    <li><p>{% trans "Une fois que votre rendez-vous est accepté, vous recevrez un mail de confirmation et le statut de votre demande dans Mon Compte sera également mise à jour." %}</p></li>
                </ul></p>
          </div>
          <div id="section-03" class="mb-50">
            <h3>{{ section03 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Lorsque vous demandez un rendez-vous via la prise de rendez-vous, c’est le site qui vous confirme si votre créneau a bien été enregistré." %}</p>
            <p>{% trans "Pour la conciergerie, nous validons d’abord votre « Demande de rendez-Vous » puis, en cas de succès, vous recevez un email « Confirmation de rendez-vous »." %}</p>
          </div>
          <div id="section-04" class="mb-50">
            <h3>{{ section04 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Vous aimeriez que votre avocat soit rajouté à la plateforme ou s'affilie à Allo-oustad ?" %}</p>
            <p>{% trans "Vous pouvez lui parler du service et le renvoyer vers la page dédiée aux avocats qui lui permettra de nous contacter directement pour toute information complémentaire." %}</p>
          </div>
          <div id="section-05" class="mb-50">
            <h3>{{ section05 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Bien entendu ! Il vous suffit d'effectuer une démarche classique de demande de rendez-vous." %}</p>
            <p>{% trans "Il vous suffira ensuite simplement de renseigner dans le bloc de renseignement dédié les noms, prénoms et dates de naissance des clients pour lesquels vous souhaitez prendre rendez-vous." %}</p>
            <p>{% trans "De la même manière, toutes les informations sur l'évolution de votre demande de rendez-vous seront disponible dans l'onglet Mon Compte." %}</p>
          </div>
          <div id="section-06" class="mb-50">
            <h3>{{ section06 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Vous souhaiteriez apparaître sur la plateforme allo-oustad.ma, en savoir plus sur le service que nous proposons aux avocats ou simplement nous poser quelques questions ?" %}</p>
            <p>{% trans "Vous pouvez consulter la page pro dédiée qui pourra vous proposer un récapitulatif des prestations que nous proposons aux professionnels du domaine juridique et judiciaire." %}</p>
          </div>
          <div id="section-07" class="mb-50">
            <h3>{{ section07 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Contactez immédiatement le numéro indiqué en bas de la page d’accueil destiné aux urgences au plus vite. Ils seront les plus habilités à vous aider le plus rapidement possible dans votre situation." %}</p>
          </div>
          <div id="section-08" class="mb-50">
            <h3>{{ section08 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Nous sommes navrés de la gêne occasionnée, n'hésitez pas à nous remonter votre soucis via notre formulaire de contact disponible ici. Nous tâcherons de vous répondre au plus vite et de trouver une solution au problème que vous avez rencontré." %}</p>
          </div>
          <div id="section-09" class="mb-50">
            <h3>{{ section09 }}</h3>
            <hr>
            <p class="mb-20">{% trans "Si votre question ne figure pas dans cette FAQ, vous pouvez nous poser votre question via notre formulaire de contact disponible ici." %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock container_main %}