{% load static %}
{% load i18n %}
{% trans "justice" as trans_justice %}

{% trans "id" as trans_client_id %}
{% trans "clients" as trans_clients %}

{% trans "affichage de" as trans_showing %}
{% trans "à" as trans_to %}
{% trans "sur" as trans_of %}
{% trans "entrées" as trans_entries %}

{% trans "nouveau client" as trans_new_client %}
{% trans "nom" as trans_client_lastname %}
{% trans "prénom" as trans_client_firstname %}
{% trans "genre" as trans_client_genre %}
{% trans "société" as trans_client_company %}
{% trans "status" as trans_status %}
{% trans "téléphone" as trans_phone %}
{% trans "gsm" as trans_gsm %}
{% trans "email" as trans_email %}
{% trans "actions" as trans_actions %}
{% trans "sauvegarder" as trans_save %}
{% trans "representant légal" as trans_representative %}

{% trans "es-tu sûr?" as trans_sure %}
{% trans "voulez-vous vraiment supprimer ce client ?" as trans_question_delete %}
{% trans "ce processus ne peut pas être annulé" as trans_undone %}
{% trans "supprimer" as trans_delete %}
{% trans "annulé" as trans_cancel %}




{% block main %}
    
{% endblock main %}