{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 
{% load crispy_forms_tags %} 


{% block css %}
    <style>
        select.day_name {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
        
        /* For IE10 */
        select.day_name::-ms-expand {
            display: none;
        }
        select.day_name option{display:none; background-color:#ffffff;visibility: hidden}
    </style>
{% endblock css %}
    

{% block container_main %}
<!-- <div style="margin-bottom: 90px;"></div> -->
<!-- Section: inner-header -->
    <!-- Section: Practice Area -->
    <section>
        <div class="container-fluid pt-20">
        
            <h3 class="heading-border">Tab with Effect and box style</h3>
            <div class="section-content">
                <!-- Messages: Alert -->
                <div class="row text-center">
                    <div class="col-sm-12">
                        {% include 'messages/message.html' with messages=messages %}
                    </div>
                </div>
                
                <div class="row">
                    
                <div class="tab-slider">
                    <div class="col-sm-12 col-md-4">
                        
                    <div class="row multi-row-clearfix nav nav-pills equal-height mr-md-0">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pr-0 text-center">
                        <a href="#tab-11" data-toggle="tab" data-parent="#tab-1" aria-expanded="false" class="active p-20">
                            <i class="pe-7s-notebook font-72"></i>
                            <h6>{% trans 'Agenda' %}</h6>
                        </a>
                        
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pr-0 text-center">
                        <a href="#tab-12" data-toggle="tab" data-parent="#tab-1" aria-expanded="false" class="p-20">
                            <i class="pe-7s-car font-72"></i>
                            <h6>Accident Injuries</h6>
                        </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pr-0 text-center">
                        <a href="#tab-13" data-toggle="tab" data-parent="#tab-1" aria-expanded="false" class="p-20">
                            <i class="pe-7s-portfolio font-72"></i>
                            <h6>Business Taxation</h6>
                        </a>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <div class="panel-body p-0">
                        <div class="tab-content" id="tab-1">
                            <div class="tab-pane fade active in" id="tab-11">

                                <form action="{% url 'user_settings' %}" method="post">
                                    {% csrf_token %}
                                    <h2 class="font-24">Agenda</h2>
                                    <div class="row">
                                        <div class="text-right pt-20 pb-10 pr-10">
                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5 hvr-float-shadow text-right">{% trans 'Sauvegarder' %}</button>
                                        </div>
                                    </div>
                                    {{ formset.management_form }}
                                    {% for form in formset %}
                                    <div class="row">
                                        <!-- {{form|crispy}} -->
                                        {% for field in form  %}
                                        <div class="form-group col-md-4">
                                            {{ field|as_crispy_field }}
                                        </div>
                                        {% endfor %}
                                     
                                    </div>

                                    <div class="separator">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {% endfor %}

                                    <div class="row">
                                        <div class="text-right pt-20 pb-10 pr-10">
                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5 hvr-float-shadow text-right">{% trans 'Sauvegarder' %}</button>
                                        </div>
                                    </div>
                                </form>

                        </div>
                        <div class="tab-pane fade" id="tab-12">
                            <img alt="" src="http://placehold.it/700x300">
                            <h2 class="font-24">Accident Injuries</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi facilis, velit quam, esse rerum fugiat! Repellendus obcaecati, quos voluptatum facere velit quam, esse rerum fugiat! Repellendus obcaecati, quos voluptatum facere adipisicing elit.</p>
                            <ul class="list angle-double-right">
                            <li><a href="#">Persistent Advocacy</a></li>
                            <li><a href="#">Litigation Legal Services</a></li>
                            <li><a href="#">Proactive Representation</a></li>
                            </ul>
                            <a href="#" class="btn btn-dark btn-theme-colored btn-flat">Read more</a>
                        </div>
                        <div class="tab-pane fade" id="tab-13">
                            <img alt="" src="http://placehold.it/700x300">
                            <h2 class="font-24">Business Taxation</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi facilis, velit quam, esse rerum fugiat! Repellendus obcaecati, quos voluptatum facere velit quam, esse rerum fugiat! Repellendus obcaecati, quos voluptatum facere adipisicing elit.</p>
                            <ul class="list angle-double-right">
                            <li><a href="#">Persistent Advocacy</a></li>
                            <li><a href="#">Litigation Legal Services</a></li>
                            <li><a href="#">Proactive Representation</a></li>
                            </ul>
                            <a href="#" class="btn btn-dark btn-theme-colored btn-flat">Read more</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
          </div>
        </div>
    </section>

{% endblock container_main %}